{% extends "base.html" %}
{% load static %}

{% block title %}Blog | A Notion To Ponder{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}?v=2.2" />
<link rel="stylesheet" href="{% static 'blog/all-posts.css' %}?v=2.0" />
{% endblock %}

{% block content %}
<section id="all-posts">
  <p class="blog-eyebrow">Blog</p>
  <h2>My Collected Posts</h2>

  <ul class="post-grid">
    {% for post in all_posts %}
    {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>
{% endblock %}
